<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springBean1" class="com.spring.professional.exam.tutorial.module01.question06.non.web.beans.SpringBean1">
        <property name="springBean2" ref="springBean2"/>
        <property name="springBean3" ref="springBean3"/>
    </bean>

    <bean id="springBean2" class="com.spring.professional.exam.tutorial.module01.question06.non.web.beans.SpringBean2"/>

    <bean id="springBean3" class="com.spring.professional.exam.tutorial.module01.question06.non.web.beans.SpringBean3"/>

</beans>